.RoomSetting {
  background-color: #fff;
  color: #000;
  width: 200px;
  position: absolute;
  top: 65px;
  right: 34px;
  border-radius: 10px;
  box-shadow: -4px 9px 5px 0px rgba(222, 222, 222, 1);
}
.RoomSetting > div {
  margin: 10px 0;
  cursor: pointer;
  background-color: #fff;
  padding: 12px 10px;
}

.RoomSetting > div:hover {
  background-color: #ededed;
}
